In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.read_csv('Happiness/2015.csv')
df2 = pd.read_csv('Happiness/2016.csv')
df3 = pd.read_csv('Happiness/2017.csv')
df4 = pd.read_csv('Happiness/2018.csv')
df5 = pd.read_csv('Happiness/2019.csv')
df1.head(5)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [3]:
df2.head(5)

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [4]:
df3.head(5)

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [5]:
df4.head(5)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [6]:
df5.head(5)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [7]:
df1.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [8]:
df2.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')

In [9]:
df3.columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')

In [10]:
df4.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [11]:
df5.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [12]:
df1.drop(['Region','Standard Error','Family','Dystopia Residual'],axis=1,inplace=True)
df2.drop(['Region','Lower Confidence Interval','Upper Confidence Interval','Family','Dystopia Residual'],axis=1,inplace=True)
df3.drop(['Whisker.high','Whisker.low','Family','Dystopia.Residual'],axis=1,inplace=True)
df4.drop(['Social support'],axis=1,inplace=True)
df5.drop(['Social support'],axis=1,inplace=True)

In [13]:
print(df1.columns)
print(df2.columns)
print(df3.columns)
print(df4.columns)
print(df5.columns)

Index(['Country', 'Happiness Rank', 'Happiness Score',
       'Economy (GDP per Capita)', 'Health (Life Expectancy)', 'Freedom',
       'Trust (Government Corruption)', 'Generosity'],
      dtype='object')
Index(['Country', 'Happiness Rank', 'Happiness Score',
       'Economy (GDP per Capita)', 'Health (Life Expectancy)', 'Freedom',
       'Trust (Government Corruption)', 'Generosity'],
      dtype='object')
Index(['Country', 'Happiness.Rank', 'Happiness.Score',
       'Economy..GDP.per.Capita.', 'Health..Life.Expectancy.', 'Freedom',
       'Generosity', 'Trust..Government.Corruption.'],
      dtype='object')
Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Healthy life expectancy', 'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')
Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Healthy life expectancy', 'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [14]:
df1 = df1.rename(columns={'Economy (GDP per Capita)': 'GDP per Capita', 'Health (Life Expectancy)': 'Healthy life expectancy','Trust (Government Corruption)':'Government Corruption'})
df1 = df1.assign(Year='2015')
 
df2 = df2.rename(columns={'Economy (GDP per Capita)': 'GDP per Capita', 'Health (Life Expectancy)': 'Healthy life expectancy','Trust (Government Corruption)':'Government Corruption'})
df2 = df2.assign(Year='2016')

df3 = df3.rename(columns={'Happiness.Rank': 'Happiness Rank','Happiness.Score':'Happiness Score','Economy..GDP.per.Capita.': 'GDP per Capita', 'Health..Life.Expectancy.': 'Healthy life expectancy','Trust..Government.Corruption.':'Government Corruption','Dystopia.Residual':'Dystopia Residual'})
df3 = df3.assign(Year='2017')

df4 = df4.rename(columns={'Overall rank': 'Happiness Rank','Country or region':'Country','Score':'Happiness Score','Freedom to make life choices':'Freedom','Perceptions of corruption':'Government Corruption','GDP per capita':'GDP per Capita'})
df4 = df4.assign(Year='2018')

df5 = df5.rename(columns={'Overall rank': 'Happiness Rank','Country or region':'Country','Score':'Happiness Score','Freedom to make life choices':'Freedom','Perceptions of corruption':'Government Corruption','GDP per capita':'GDP per Capita'})
df5 = df5.assign(Year='2019')
print(df1.columns)
print(df2.columns)
print(df3.columns)
print(df4.columns)
print(df5.columns)

Index(['Country', 'Happiness Rank', 'Happiness Score', 'GDP per Capita',
       'Healthy life expectancy', 'Freedom', 'Government Corruption',
       'Generosity', 'Year'],
      dtype='object')
Index(['Country', 'Happiness Rank', 'Happiness Score', 'GDP per Capita',
       'Healthy life expectancy', 'Freedom', 'Government Corruption',
       'Generosity', 'Year'],
      dtype='object')
Index(['Country', 'Happiness Rank', 'Happiness Score', 'GDP per Capita',
       'Healthy life expectancy', 'Freedom', 'Generosity',
       'Government Corruption', 'Year'],
      dtype='object')
Index(['Happiness Rank', 'Country', 'Happiness Score', 'GDP per Capita',
       'Healthy life expectancy', 'Freedom', 'Generosity',
       'Government Corruption', 'Year'],
      dtype='object')
Index(['Happiness Rank', 'Country', 'Happiness Score', 'GDP per Capita',
       'Healthy life expectancy', 'Freedom', 'Generosity',
       'Government Corruption', 'Year'],
      dtype='object')

In [15]:
df = pd.concat([df1,df2,df3,df4,df5])
df

,Country,Happiness Rank,Happiness Score,GDP per Capita,Healthy life expectancy,Freedom,Government Corruption,Generosity,Year
0,Switzerland,1,7.587,1.39651,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,2,7.561,1.30232,0.94784,0.62877,0.14145,0.43630,2015
2,Denmark,3,7.527,1.32548,0.87464,0.64938,0.48357,0.34139,2015
3,Norway,4,7.522,1.45900,0.88521,0.66973,0.36503,0.34699,2015
4,Canada,5,7.427,1.32629,0.90563,0.63297,0.32957,0.45811,2015
...,...,...,...,...,...,...,...,...,...
151,Rwanda,152,3.334,0.35900,0.61400,0.55500,0.41100,0.21700,2019
152,Tanzania,153,3.231,0.47600,0.49900,0.41700,0.14700,0.27600,2019
153,Afghanistan,154,3.203,0.35000,0.36100,0.00000,0.02500,0.15800,2019
154,Central African Republic,155,3.083,0.02600,0.10500,0.22500,0.03500,0.23500,2019
155,South Sudan,156,2.853,0.30600,0.29500,0.01000,0.09100,0.20200,2019

In [20]:
#Most Happy Countries By Year
df[df['Happiness Rank'] <= 10]

,Country,Happiness Rank,Happiness Score,GDP per Capita,Healthy life expectancy,Freedom,Government Corruption,Generosity,Year
0,Switzerland,1,7.587,1.396510,0.941430,0.665570,0.419780,0.296780,2015
1,Iceland,2,7.561,1.302320,0.947840,0.628770,0.141450,0.436300,2015
2,Denmark,3,7.527,1.325480,0.874640,0.649380,0.483570,0.341390,2015
3,Norway,4,7.522,1.459000,0.885210,0.669730,0.365030,0.346990,2015
4,Canada,5,7.427,1.326290,0.905630,0.632970,0.329570,0.458110,2015
5,Finland,6,7.406,1.290250,0.889110,0.641690,0.413720,0.233510,2015
6,Netherlands,7,7.378,1.329440,0.892840,0.615760,0.318140,0.476100,2015
7,Sweden,8,7.364,1.331710,0.910870,0.659800,0.438440,0.362620,2015
8,New Zealand,9,7.286,1.250180,0.908370,0.639380,0.429220,0.475010,2015
9,Australia,10,7.284,1.333580,0.931560,0.651240,0.356370,0.435620,2015
0,Denmark,1,7.526,1.441780,0.795040,0.579410,0.444530,0.361710,2016
1,Switzerland,2,7.509,1.527330,0.863030,0.585570,0.412030,0.280830,2016
2,Iceland,3,7.501,1.426660,0.867330,0.566240,0.149750,0.476780,2016
3,Norway,4,7.498,1.577440,0.795790,0.596090,0.357760,0.378950,2016
4,Finland,5,7.413,1.405980,0.810910,0.571040,0.410040,0.254920,2016
5,Canada,6,7.404,1.440150,0.827600,0.573700,0.313290,0.448340,2016
6,Netherlands,7,7.339,1.464680,0.812310,0.552110,0.299270,0.474160,2016
7,New Zealand,8,7.334,1.360660,0.830960,0.581470,0.419040,0.494010,2016
8,Australia,9,7.313,1.444430,0.851200,0.568370,0.323310,0.474070,2016
9,Sweden,10,7.291,1.451810,0.831210,0.582180,0.408670,0.382540,2016
0,Norway,1,7.537,1.616463,0.796667,0.635423,0.315964,0.362012,2017
1,Denmark,2,7.522,1.482383,0.792566,0.626007,0.400770,0.355280,2017
2,Iceland,3,7.504,1.480633,0.833552,0.627163,0.153527,0.475540,2017
3,Switzerland,4,7.494,1.564980,0.858131,0.620071,0.367007,0.290549,2017
4,Finland,5,7.469,1.443572,0.809158,0.617951,0.382612,0.245483,2017
5,Netherlands,6,7.377,1.503945,0.810696,0.585384,0.282662,0.470490,2017
6,Canada,7,7.316,1.479204,0.834558,0.611101,0.287372,0.435540,2017
7,New Zealand,8,7.314,1.405706,0.816760,0.614062,0.382817,0.500005,2017
8,Sweden,9,7.284,1.494387,0.830875,0.612924,0.384399,0.385399,2017
9,Australia,10,7.284,1.484415,0.843887,0.601607,0.301184,0.477699,2017
0,Finland,1,7.632,1.305000,0.874000,0.681000,0.393000,0.202000,2018
1,Norway,2,7.594,1.456000,0.861000,0.686000,0.340000,0.286000,2018
2,Denmark,3,7.555,1.351000,0.868000,0.683000,0.408000,0.284000,2018
3,Iceland,4,7.495,1.343000,0.914000,0.677000,0.138000,0.353000,2018
4,Switzerland,5,7.487,1.420000,0.927000,0.660000,0.357000,0.256000,2018
5,Netherlands,6,7.441,1.361000,0.878000,0.638000,0.295000,0.333000,2018
6,Canada,7,7.328,1.330000,0.896000,0.653000,0.291000,0.321000,2018
7,New Zealand,8,7.324,1.268000,0.876000,0.669000,0.389000,0.365000,2018
8,Sweden,9,7.314,1.355000,0.913000,0.659000,0.383000,0.285000,2018
9,Australia,10,7.272,1.340000,0.910000,0.647000,0.302000,0.361000,2018
0,Finland,1,7.769,1.340000,0.986000,0.596000,0.393000,0.153000,2019
1,Denmark,2,7.600,1.383000,0.996000,0.592000,0.410000,0.252000,2019
2,Norway,3,7.554,1.488000,1.028000,0.603000,0.341000,0.271000,2019
3,Iceland,4,7.494,1.380000,1.026000,0.591000,0.118000,0.354000,2019
4,Netherlands,5,7.488,1.396000,0.999000,0.557000,0.298000,0.322000,2019
5,Switzerland,6,7.480,1.452000,1.052000,0.572000,0.343000,0.263000,2019
6,Sweden,7,7.343,1.387000,1.009000,0.574000,0.373000,0.267000,2019
7,New Zealand,8,7.307,1.303000,1.026000,0.585000,0.380000,0.330000,2019
8,Canada,9,7.278,1.365000,1.039000,0.584000,0.308000,0.285000,2019
9,Austria,10,7.246,1.376000,1.016000,0.532000,0.226000,0.244000,2019

In [27]:
df.describe()

,Happiness Rank,Happiness Score,GDP per Capita,Healthy life expectancy,Freedom,Government Corruption,Generosity
count,782.000000,782.000000,782.000000,782.000000,782.000000,781.000000,782.000000
mean,78.698210,5.379018,0.916047,0.612416,0.411091,0.125436,0.218576
std,45.182384,1.127456,0.407340,0.248309,0.152880,0.105816,0.122321
min,1.000000,2.693000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,40.000000,4.509750,0.606500,0.440183,0.309768,0.054000,0.130000
50%,79.000000,5.322000,0.982205,0.647310,0.431000,0.091000,0.201982
75%,118.000000,6.189500,1.236187,0.808000,0.531000,0.156030,0.278832
max,158.000000,7.769000,2.096000,1.141000,0.724000,0.551910,0.838075

In [39]:
groups = df.groupby('Country')


for name, group in groups:
  std = group['Happiness Score'].std()
  mask = group['Happiness Score'].abs().gt(std)
  filtered_group = group[mask]


filtered_group

,Country,Happiness Rank,Happiness Score,GDP per Capita,Healthy life expectancy,Freedom,Government Corruption,Generosity,Year
114,Zimbabwe,115,4.610,0.271000,0.334750,0.258610,0.080790,0.189870,2015
130,Zimbabwe,131,4.193,0.350410,0.159500,0.254290,0.085820,0.185030,2016
137,Zimbabwe,138,3.875,0.375847,0.196764,0.336384,0.095375,0.189143,2017
143,Zimbabwe,144,3.692,0.357000,0.248000,0.406000,0.099000,0.132000,2018
145,Zimbabwe,146,3.663,0.366000,0.433000,0.361000,0.089000,0.151000,2019

# Only Zimbabwe Have So Much Changes on Happiness Score All Across the Countries